.zn-animate-move-from-bottom {
    -webkit-animation: moveFromBottom .6s ease both;
	-moz-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

.zn-animate-move-from-bottom-fade {
    -webkit-animation: moveFromBottomFade .7s ease both;
	-moz-animation: moveFromBottomFade .7s ease both;
	animation: moveFromBottomFade .7s ease both;
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveFromBottom {
	from { -moz-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottomFade {
	from { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveFromBottomFade {
	from { opacity: 0.3; -moz-transform: translateY(100%); }
}
@keyframes moveFromBottomFade {
	from { opacity: 0.3; transform: translateY(100%); }
}
